.element__like-active {
    background-image: url(../../../images/like-icon_active.svg);
        background-position: center;
    background-size: 22px 19px;
    width: 22px;
    height: 19px;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
}

.element__like-active:hover {
    opacity: 0.6;
}